.Rproj.user
.Rhistory
.RData
.Ruserdata
POF_raw
POF_government/Dados_20210304
POF_government/Memoria_de_Calculo_20210304
POF_government/Programas_de_Leitura_20210304
POF_government/Tradutores_20210304
POF_government/RawData
POF_state/*.pdf
POF_state/*.zip
POF_state/tabelas_unidades_da_federacao_xls_20191108
output/model_results
output/*.RData
processed_data
Whats* 
example*
glm*
MS
